[submodule "contracts/evm-gateway/lib/forge-std"]
	path = contracts/evm-gateway/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/evm-gateway/lib/openzeppelin-contracts"]
	path = contracts/evm-gateway/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/evm-gateway/lib/openzeppelin-contracts-upgradeable"]
	path = contracts/evm-gateway/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "lib/openzeppelin-foundry-upgrades"]
	path = lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "contracts/evm-gateway/lib/openzeppelin-foundry-upgrades"]
	path = contracts/evm-gateway/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "contracts/evm-gateway/lib/v3-core"]
	path = contracts/evm-gateway/lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "contracts/evm-gateway/lib/v3-periphery"]
	path = contracts/evm-gateway/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "lib/v3-periphery"]
	branch = 0.8
[submodule "contracts/evm-gateway/lib/foundry-chainlink-toolkit"]
	path = contracts/evm-gateway/lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
[submodule "contracts/evm-gateway/lib/chainlink-brownie-contracts"]
	path = contracts/evm-gateway/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
